# These environment variables are mandatory
POOL_ID=us-east-2_ghlOXVLi1
CLIENTAPP_ID=4qte47jbstod8apnfic0bunmrq
REGION=us-east-2

USERNAME=
PASSWORD=

# Enable debug messages by setting this to 'true'
DEBUG=false

# If not set to 'true', log messages will be printed on STDOUT
QUIET=false

# If set to 'true', raw JSON data from the server will be printed to STDOUT
RAW=false

# The scale determines the dataset intervals. It must be one of 's', 'm', 'h', 'd', 'w, 'M', or
# 'y' corresponding to one second, minute, hour, day, week, month, or year respectively.
# Note that data for an interval of one second will be output as Watts to InfluxDB if so
# configured. All other data is in kWh.
SCALE=s

# The number of minutes to wait before downloading the next dataset. This parameter will be
# adjusted such that it is always greater than the scale. If a value of 0 is given, the
# downloader exits after one dataset has been downloaded.
SLEEP=5

# InfluxDB parameters

# If set to 'true', no data will be written to InfluxDB
DISABLE_INFLUX=false

# The name of the InfluxDB bucket
INFLUX_BUCKET=electricity/autogen

# The URL of the InfluxDB server
INFLUX_URL=http://localhost

# The port of the InfluxDB server
INFLUX_PORT=8086

# The following variables are mandatory unless DISABLE_INFLUX is set to true

# The InfluxDB organization
INFLUX_ORG=

# The InfluxDB authentication token
INFLUX_TOKEN=

