<?xml version="1.0" encoding="UTF-8"?>
<!--
  #%L
  Emporia Energy API Client
  %%
  Copyright (C) 2002 - 2020 Helge Weissig
  %%
  This program is free software: you can redistribute it and/or modify
  it under the terms of the GNU General Public License as
  published by the Free Software Foundation, either version 3 of the
  License, or (at your option) any later version.
  
  This program is distributed in the hope that it will be useful,
  but WITHOUT ANY WARRANTY; without even the implied warranty of
  MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
  GNU General Public License for more details.
  
  You should have received a copy of the GNU General Public
  License along with this program.  If not, see
  <http://www.gnu.org/licenses/gpl-3.0.html>.
  #L%
  -->

<Configuration>
    <Properties>
        <Property name="LOG_PATTERN">%d{dd MMM yyyy HH:mm:ss} - %-5p (%F:%L): %m%n</Property>
        <Property name="RAW_PATTERN">{ "ts" : %d{UNIX}, "data": %m{nolookups} }%n</Property>
    </Properties>
    <Appenders>
        <Console name="CONSOLE" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${LOG_PATTERN}"/>
        </Console>
        <Console name="STDOUT" target="SYSTEM_OUT" follow="true">
            <PatternLayout pattern="${RAW_PATTERN}"/>
        </Console>

        <Routing name="LOG_FILE">
            <Routes pattern="$${main:0}">
                <Route key="$${main:0}">
                    <RollingFile
                            name="APPLICATION LOG"
                            fileName="application.log"
                            filePattern="application.%d{yyyy-MM-dd}.log.gz"
                            ignoreExceptions="false">
                        <PatternLayout pattern="${LOG_PATTERN}"/>
                        <Policies>
                            <TimeBasedTriggeringPolicy/>
                        </Policies>
                        <DefaultRolloverStrategy max="5"/>
                    </RollingFile>
                </Route>
                <Route>
                    <RollingFile
                            name="APPLICATION LOG"
                            fileName="${main:0}"
                            filePattern="${main:0}.%d{yyyy-MM-dd}.gz"
                            ignoreExceptions="false">
                        <PatternLayout pattern="${LOG_PATTERN}"/>
                        <Policies>
                            <TimeBasedTriggeringPolicy/>
                        </Policies>
                        <DefaultRolloverStrategy max="5"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
        <Routing name="RAW_LOG">
            <Routes pattern="$${main:1}">
                <Route ref="STDOUT" key="$${main:1}"/>
                <Route>
                    <RollingFile
                            name="RAW DATA LOG"
                            fileName="${main:1}"
                            filePattern="${main:1}.%d{yyyy-MM-dd}.gz"
                            ignoreExceptions="false">
                        <PatternLayout pattern="${RAW_PATTERN}"/>
                        <Policies>
                            <TimeBasedTriggeringPolicy/>
                        </Policies>
                        <DefaultRolloverStrategy max="5"/>
                    </RollingFile>
                </Route>
            </Routes>
        </Routing>
    </Appenders>

    <Loggers>
        <Logger name="org.grajagan" level="info" additivity="false">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Logger>

        <Logger name="org.grajagan.emporia.api.LogJsonInterceptor" level="info"
                additivity="false">
            <AppenderRef ref="RAW_LOG"/>
        </Logger>

        <Root level="error">
            <AppenderRef ref="CONSOLE"/>
            <AppenderRef ref="LOG_FILE"/>
        </Root>
    </Loggers>

</Configuration>
